body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    margin: 0;
}
h1{
    padding: 8px;
    background: rgba(238, 108, 2,0.5);
    border-radius: 8px;
    margin: 0;
    font-size: 64px;
    font-family: 'Comforter Brush', cursive ;
}

p {
    line-height: 1.5;
}

main {
    margin: 0;
}
   /*inputs */
    input,
    textarea{
        height: 32px;
        padding:0 16px ;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
        border: none;
        box-shadow: inset 8px 3px 18px -4px rgba(0, 0, 0, 0.4);
    }

    input:focus,
    textarea:focus{}
  /* Banner */
 
  #banner {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: rgba(0, 0, 0, 0.2) url('/img/cidade.jpg');
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-blend-mode: overlay;
      color: rgb(255, 255, 255);
  }

  #banner h3 {
    background: rgba(61, 58, 55, 0.5);
    border-radius: 8px;
    padding:0 24px ;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif
  }

  /* Caixa de pesquisa */

  #searchbox {
    position: fixed;
    right: 0;
    top: 24px;
    width: 500px;
    pointer-events: none;
    z-index: 50;
    transition: 0.4s;
  }

  #searchbox input {
    height: 48px;
    width: 100%;

  }

